header.header 
  .header-column
    a(href=routes.home)
      i.fab.fa-youtube
  .header-column
    form(action=routes.search, method="get")
      input(type="text", name="search_query", placeholder="검색")
  .header-column
    ul
      li
        a(href=routes.join) Join
      li
        a(href=routes.login) Log In
