.social-login
  button.social-login-github
    a(href=routes.github)
      span
        i.fab.fa-github
      |Continue with GitHub
  button.social-login-github
    span
      i.fab.fa-facebook
    |Continue with Facebook
