extends layouts/main.pug

block content
  .form-container
    form(action=routes.editProfile, method="post")
      fileUpload
        label(for="avatar") 아바타
        input(type="file", id="avatar", name="avatar")
      input(type="text", name="name" placeholder="이름")
      input(type="email", name="email" placeholder="이메일")
      input(type="submit", value="수정")
    a.form-container-link(href=`/users${routes.changePassword}`) 비밀번호 변경
