extends layouts/main

block content
  .form-container
    form(action=routes.editVideo(video.id), method="post")
      input(type="text", placeholder="Title", name="title", value=video.title)
      textarea(name="description", placeholder="Description")= video.description
      input(type="submit", value="수정")
    a.form-container-link(href=routes.deleteVideo(video.id))
            button.delete 영상 삭제

