extends layouts/main.pug

block content
  .form-container
    form(action=routes.join, method="post")
      input(type="text", name="name", placeholder="이름", required="required")
      input(type="email", name="email", placeholder="이메일", required="required")
      input(type="password", name="password", placeholder="비밀번호", required="required")
      input(type="password", name="verifyPassword", placeholder="비밀번호 확인", required="required")
      input(type="submit", value="가입")
    include partials/socialLogin
